:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ff9300;
    --secundario: #0097a7;
    --gris: #757575;
    --grisClaro: #dfe9f3;
}
 
/* Globales */
html {
    font-size: 62.5%;
    box-sizing: border-box; /* Hack para Box Model */
    scroll-snap-type: y mandatory; /* Esto para que scrolle por
    partes, la y es porque scrollea en el eje Y, si pones x lo 
    hara en el eje X*/
}
 
/*Scroll Snap*/
.servicios, 
.navegacionPrincipal, 
.formulario {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 16px; /* 1rem = 10 px */
    font-family: 'Krub', sans-serif;
    /* font-weight: 400; */
    background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 20%);
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto 0 auto;
 
        /* Si pusiera el width solo haria que el tamano de 
        la pag sea de 120, pero a medida que cambia el 
        tamano se podria tapar la barra de navegacion, ahora 
        con max-width lo que pasa es que se acomoda la barra 
        de navegacion */
 
        /*margin-top: 0rem;
        margin-right: auto;
        margin-bottom: 0rem;   
        margin-left: auto;*/
 
        /* Tambien puedes poner margin: 0 auto; ya que 
        si se repiten los dos valores, CSS sabe que el 
        primero es el de arriba y abajo, mientras que 
        el segundo es el de izquierda y derecha.*/
 
        /* El "margin" dejandolo solo puede usarse como 
        la combinacion de margin-top/right/bottom/left 
        Inclusive, gira en torno al sentido de las agujas 
        del reloj*/
}
.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;
}
@media (min-width: 768px) {
    .boton{
        width: auto;
    }
}
.boton:hover{ /*Aca hacemos que el maus se vuelva una mano sobre el boton*/
    cursor: pointer;
}
.sombra {
    -webkit-box-shadow: 0px 5px 15px 0px rgba(112,112,122,0.54);
    -moz-box-shadow: 0px 5px 15px 0px rgba(112,112,122,0.54);
    box-shadow: 0px 5px 15px 0px rgba(112,112,122,0.54);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}
 
/* Tipografia */
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 1.8rem;
}
h1, h2, h3 {
    font-size: 2rem;
    text-align: center;
}
 
/* Utilidades*/
.w-sm-100{
    width: 100%;
}
@media (min-width: 768px) {
    .w-sm-100{
        width: auto;
    }
}
.flex{
    display: flex;
}
.alinear-derecha{
    justify-content: flex-end;
}
 
/* Titulos */
.titulo span{
    font-size: 2rem;
}
 
/* Navegacion principal */
.nav-bg{
    background-color: var(--secundario);
}
.navegacionPrincipal {
    display: flex; /* Esto habilita el uso del Flexbox */
    justify-content: space-between;
    flex-direction: column;
}
@media (min-width: 768px) {
    .navegacionPrincipal{
        flex-direction: row;
    }
}
.navegacionPrincipal a{
    color: var(--blanco); /* Aca modifico el color 
        del texto de la barra de navegacion*/
    text-decoration: none; /* Elimine la "decoracion del
        texto que tenian los enlaces de la barra de naveacion,
        esa tipica linea de subrayado que tenian.*/
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem; /* el padding es como el margin, si 
        pones uno solo el CSS te lo interpeta en todas las 
        direcciones*/
}
.navegacionPrincipal a:hover {/* Aca esta lo que pasa con
        los botones de navegacion cuando pongo el mouse en el 
        boton. */
    background-color: var(--primario);
    color: var(--oscuro);   
}
 
/* Hero */
.hero {
    background-image: url(..//Imagenes/Screenshot_21.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 410px;
    position: relative;
    margin-bottom: 2rem;
}
.contenido-hero{
    position: absolute;
    background-color: rgba(0,0,0, .7); /*anterior*/ 
    background-color: rgb(0, 0, 0 / 70%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenido-hero h2, .contenido-hero p {
    color: var(--blanco);
}
.contenido-hero .ubicacion {
    display: flex;
    align-items: flex-end;
}
 
/* Servicios */
@media (min-width: 768px){
    .servicios {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* fr seria fraccion del espacio, si pones 1fr 1fr 1fr te 
        lo va a tomar como que cada unidad tomara una fraccion, si 
        pones 1fr 1fr 2fr, el tersero tomara dos unidades y el resto 
        una. Tambien podes poner % de espacio a ocupar, y si haces 
        lo de 3, 1fr va a dividir en 3 fracciones. */
        column-gap: 1rem; 
        /* colum-gap te permite acomodar la 
        distancia que separa las columnas a gusto */
    }
}
.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.servicio h3 {
    color: var(--secundario);
    font-weight: normal;
}
.servicio p {
    line-height: 2;
}
.servicio .iconos {
    height: 15rem; 
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
 
/* Contacto */
.formulario {
    background-color: var(--gris);
    width: min(60rem,100%); /* utiliza el valor mas pequeno */
    margin: 0 auto; /* Si el padre no tiene un displayflex, puedes 
    meter el margin: 0 auto; y te lo va a centrar automaticamente*/
    padding: 2rem;
    border-radius: 2rem;
}
.formulario fieldset {
    border: none;
}
.formulario legend{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--primario);
}
@media (min-width: 768px) {
    .contenedor-campos {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;
    }
}

.campo:nth-child(3),
.campo:nth-child(4) {
    grid-column: 1/3;
}

.campo{
    margin-bottom: 1rem;
}
.campo label{
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}
.campo textarea{
    height: 17rem;
}
.input-text{
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;    
}

/* Footer */
.footer {
    text-align: center;
}